@model IEnumerable<Assignment2.Models.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateHired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var trainer in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => trainer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => trainer.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => trainer.Salary)
        </td>
        <td>
            @trainer.DateHired.ToString("d")
        </td>
        <td>
            @Html.DisplayFor(modelItem => trainer.IsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=trainer.TrainerId }) |
            @Html.ActionLink("Details", "Details", new { id=trainer.TrainerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=trainer.TrainerId })
        </td>
    </tr>
}

</table>
